{% extends "emails/email_template.html" %}

{% load i18n %}

{% block content %}

    <p>
        {% blocktrans %}You requested a password reset from {{ APP_TITLE }}. Please click the following link to reset your password:{% endblocktrans %}
        <a href="{{ reset_password_url }}">{{ reset_password_url }}</a>
    </p>

    <p>
        {% blocktrans %}We recommend using a strong password. A strong password contains at least 8 characters, and uses lowercase and uppercase letters, numbers and special characters (e.g.: !, _, -).{% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}If you do not wish to reset your password, please ignore this message.{% endblocktrans %}
    </p>

{% endblock %}
